

/* ========================================== */
          /* {OPTIONS (filtered data)} */
/* ========================================= */

.home .parent-of-ptns{
  /* border: 2px solid red; */
  margin-top: 2rem;

}

.home .parent-of-ptns button{
  background-color: #3467c2;
  font-size: 16px;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  margin-right: 15px;
}

.home select{
  background-color: #666;
  padding: 7px 14px;
  border-radius: 4px;
}

/* ============================================= */
          /* {show all tasks} */
/* ============================================= */


.home .all-tasks{
  /* border: 2px solid red; */
  margin-top: 1em;
  flex-wrap: wrap;
  justify-content: center;

}

.home .all-tasks .one-task{
  border: 2px solid antiquewhite;
  margin: 20px 20px;
  width: 300px;
  min-height: 135px;
  border-radius: 5px;
  transition: 0.2s;
  overflow: auto;
position: relative;
}
.Light .home .all-tasks .one-task{
  border: 2px solid rgba(0, 0, 0, 0.29);
}
.home .all-tasks .one-task:hover{
  border: 2px solid antiquewhite;
  border-left: 8px solid antiquewhite;
  cursor: pointer;
}
.Light .home .all-tasks .one-task:hover{
  border: 2px solid rgba(0, 0, 0, 0.29);
  border-left: 8px solid rgba(0, 0, 0, 0.29);
  cursor: pointer;
}
.home .all-tasks .one-task h2{
font-size: 25px;
}
.home .all-tasks .one-task li{
  font-size: 15px;
  list-style-type: circle;
  list-style-position: inside;
  text-align: start;
  margin: 0 13px;
}
.home .all-tasks .one-task .time{
  font-size: 13px;
  text-align: end;
  margin: 0 20px;
  color: rgb(164, 213, 255);
  line-height: 19px;
  font-weight: normal;
  position: absolute;
  bottom: 5px;
  right: 5px;
}



/* ============================================= */
          /* {Add new task BTN} */
/* ============================================= */

.home .add-task-btn{
background-color: teal;
font-size: 16px;
padding: 8px 12px;
border: none;
border-radius: 5px;
margin: 2em;
}

.home .add-task-btn .fa-plus{
font-size: 14px;
}

.home .submit{
  margin-top: 15px;
}
/* ============================================= */
          /* {modal} */
/* ============================================= */

.home .ourmodal li{
  font-size: 13px;
  color: #333;
  list-style-type: circle;
  list-style-position: inside;
  margin-bottom: -8px;
}
.home .ourmodal .add{
  margin-left: 10px;
}

.home .ourmodal .newtask{
  /* border: 2px solid red; */
  height: 100px; 
  line-height: 2.5;
   overflow: auto;
  /* max-width: 300px;
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    height: fit-content; */
}


.home .show-message{
background-color: whitesmoke;
font-size: 18px;
color: #1b1b1b;
padding: 8px 12px;
font-weight: normal;
border-radius: 5px;
position: fixed;
top: 100px;
/* right: 100vw; */
transition:all 1s;
}

.home .fa-circle-check{
  color: teal;
  margin-left: 5px;
}

/* .message{
  right: 3vw !important;
} */

.task-link{
  
  display: block;
  /* border: 2px solid blue; */
  height: 135px;

}