




.forget-pass{
  font-size: 19px;
  cursor: pointer;
  font-weight: normal;
}

.forget-pass:hover{
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}

.close .fa-xmark{
  font-size: 29px;
  color: #444;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  transition: all 1s;
  /* ============= new ================= */
  -webkit-user-select:none;
  user-select: none;
}

.fa-xmark:hover{
  color: orange;
  font-size: 30px;
  transform: rotate(180deg);
  transition: all 1s;

}

.check-email{
  color: #333;
  font-size: 25px;
  margin-top: 20px;
  line-height: 35px;
}

.dadmodal{
  text-align: left;
  padding: 40px 0;
}











