

.parent-of-module{
  /* border: 2px solid red; */
position: fixed;
top: 0;
left: 0;
right: 0;bottom: 0;
/* background-color: #333333e2; */
background-color: rgba(0, 0, 0, 0.5);
display: flex;
justify-content: center;
align-items: center;
}

.ourmodal{
background-color: whitesmoke;
width: 400px;
height: 333px;
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
position: fixed;
/* scale: 0;
transform: translateY(-100vh); */
transition: all 1s;
scale: 1;
transform: translateY(0);
}

/* .showforgotpassword{
scale: 1;
transform: translateY(0);

} */

.forget-pass{
  font-size: 19px;
  cursor: pointer;
  font-weight: normal;
}

.forget-pass:hover{
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}

.close .fa-xmark{
  font-size: 29px;
  color: #444;
  position: absolute;
  top: 20px;
  right: 25px;
  cursor: pointer;
  transition: all 1s;
  /* ============= new ================= */
  user-select: none;
}

.fa-xmark:hover{
  color: orange;
  font-size: 30px;
  transform: rotate(180deg);
  transition: all 1s;

}

.check-email{
  color: #333;
  font-size: 25px;
  margin-top: 20px;
  line-height: 35px;
}

.dadmodal{
  text-align: left;
}











