.hide-when-mobile h1{
  width: 155px !important;
  padding: 20px 10px !important;
}

.myheader .ali{
  background-color: teal;
}



.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}


.logo {
  animation: logoani 5s infinite;
}

@keyframes logoani {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    letter-spacing: 7px;
    opacity: 1;
  }
}


.logo:hover {
  font-size: x-large !important;
}














