.hide-when-mobile h1{
  width: 155px !important;
  padding: 20px 10px !important;
}

.myheader .ali{
  background-color: teal;
}



.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}


.logo {
  animation: logoani 5s infinite;
}

@keyframes logoani {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    letter-spacing: 7px;
    opacity: 1;
  }
}


.logo:hover {
  font-size: x-large !important;
}

/* =======================================
   1.1 sub HTML + css + JavaScript
======================================== */
.elementsulhead{
  /* width: 40%; */
  /* border: 2px solid blue; */
  justify-content: space-between;
  font-size: 20px;
}

/* .elementsulhead li{
  padding: 10px !important;
  margin: 10px;
} */

.sub-ul {
  display: none;
  position: absolute;
  top: 65px;
  border-top: 1px solid cyan;

  background-color: #1b1b1b;

  border-radius: 5px;
  padding: 5px;

  width: 155px;
  z-index: 100;

  /* width: 170px; */

}

.Light .sub-ul {
background-color: #7d7a7a;
}

.sub-of-js {
  left: 10px;
}

.sub-ul li {
  padding: 8px 0;
  font-size: 17px;
  border-bottom: 1px solid black;
}

.Light .sub-ul li {
  border-bottom: 1px solid white;
}

.sub-ul li a:hover {
  color: cyan;
  font-weight: bold;
  padding-right: 10px;
}

.main-list a {
  padding: 10px;
  /* border: 2px solid blue; */

}

.main-list:hover .sub-ul {
  display: block;
}


.sub-ul a,.sub-sub-ul a{
  width: 100% !important;
  /* border: 2px solid red; */
  display: block;
  padding-left: 15px;
}


/* =======================================
   1.2 sub sub of CSS
======================================== */

.sub-sub-ul {
  position: absolute;
  top: 118px;
  left: -145px;
  border-top: 1px solid cyan;
  background-color: #1b1b1b;
  border-radius: 5px;
  /* padding: 5px; */
  width: 150px;
  display: none;
  z-index: 100;
  /* border: 2px solid red; */
  padding: 5px;
  z-index: 100;
}

.Light .sub-sub-ul {
background-color: #7d7a7a;
}

.Light .sub-sub-ul li {
  border-bottom: 1px solid white;
}
.Light .sub-sub-ul li:hover ,.Light .sub-ul li:hover {
  border-bottom: 1px solid yellow;
}
.mini-projects:hover .sub-sub-ul {
  display: block;
}

/* language codes */
ul.lang-box{
  display: none;
  /* border: 2px solid blue; */
  position: absolute;
  left: 6px;
    top: 65px;
  z-index: 100;
  border-top: 1px solid cyan;
  width: 130px;
  border-radius: 5px;
  background-color: #1b1b1b;
}
@media screen and (max-width:700px){
  ul.lang-box {
    top: 48px;
    }
}

li.lang:hover ul.lang-box{
  display: block;
}
ul.lang-box li{
  display: flex;
  justify-content: space-between;
padding:8px 5px;  
text-align: start;
border-bottom: 1px solid black;
font-size: 14px;
transition: all 0.20s;
}

ul.lang-box li:hover{
background-color: #151515;
font-size: 15px;
cursor: pointer;
}







