/* =============================
  table of contents
================================
  1-  title
  2-  sub-task section
  3- Add more btn && delete btn*/

  .edit-task{
    min-height: calc(100vh - 133px);
}

.center{
  text-align: center;
  align-items: center;
}
/* =============================
  1-  title
================================*/
.title-input{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin:40px 10px;
}

.edit-task .fa-pen-to-square{
  font-size: 18px;
  transition: 0.2s;
}

.edit-task .fa-pen-to-square:hover{
  font-size: 20px;
  cursor: pointer;
}
/* =============================
  2-  sub-task section
==============================*/

.edit-task section.sub-task{
  /* border: 2px solid red; */
max-width: 600px;
margin: auto;
/* height: 200px; */

}

.edit-task .parent-time{
  justify-content: space-between;
  align-items: flex-start;
}
.edit-task .time{
  font-size: 12px;
  color: rgb(164, 213, 255);
}

.edit-task #checkbox{
  width: 18px;
  height: 18px;
  /* new */
  accent-color: rgb(26,156,156);
}

.edit-task label{
font-size: 17px;
margin-left: 11px;
position: relative;
bottom: 3px;
}

.edit-task .card-task{
  background-color: rgb(65, 71, 84);
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 5px 30px 0 rgba(0,0,0,.25);
  transition: 0.2s;
  justify-content: space-between;
  margin-bottom: 11px;
}

.edit-task .card-task:hover{
  background-color: rgb(74, 82, 97);
  border-left: 4px solid wheat;
}

.edit-task .fa-trash{
padding-right: 19px;
color: rgb(237, 181, 181);
}
/* =============================
  3- Add more btn && delete btn
================================*/

.edit-task .allbtns{
  margin-top: 50px;
  flex-direction: column;
}

.edit-task .add-more-btn{
  background-color: teal;
  font-size: 16px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  -webkit-user-select:none;
  user-select: none;
}

.edit-task .delete{
  border-radius: 5px;
  border: none;
  font-size: 16px !important;
  margin: 30px;

}
